*.aux
*.glo
*.log
*.out
*.gz
*.toc
*.DS_Store
*.bbl
*.blg
*.dvi
*.lof
*.lot
*.Rapp.history
code/data/**/*.csv
code/network/**/*.csv
code/network/checkpoint
*.data*
*.index
*.meta
*.vscode
code/backtesting/**/*.csv
